html {
  box-sizing: border-box;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;

  background-color: #000;
}

*, *::before, *::after {
  box-sizing: inherit;
}

.clock-face {
  height: 300px;
  margin: 50px auto;
  width: 300px;

  background: transparent url("../images/clock-face.svg") no-repeat center center;
  position: relative;
}

.center {
  position: absolute;
  width: 28px;
  left: calc(50% - 11px);
  top: calc(50% - 10px);
}

.hand {
  width: 14px;
  position: absolute;
  transform-origin: bottom;
}

.hand-hour {
  left: calc(50% - 3px);
  top: 90px;
  animation: orbit 10s linear infinite;
}

.hand-minute {
  left: calc(50% - 10px);
  animation: orbit 500ms linear infinite;
  top: 70px;
}

@keyframes orbit {

  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}
